.add-container{
   height:100vh;
    /* background-color: black; */
   z-index:-4;
   color:#BB377D;
   overflow: hidden;

}
.add-container .form-container
{
    /* width:50%;
    margin:0 auto; */
    top:30%;
}

.add-container #women
{
    width:40%;
    height:400px;
    float:right
}


.add-container .container
{
    display: flex;
    height: 100vh;
    flex-direction: row;
    padding:45px 0;
}


.add-container .text
{
    width:50%;
}

.add-container .image
{
  width: 50%;
  background: url('./../../images/add.jpeg') no-repeat;
  background-size: contain;
}
.add-container .text .form-container
{
    width:80%;
    margin:0 auto;
}

.add-container .text .title
{
    margin-bottom:7%;
    font-weight: bolder;
    text-align: center;
}

.add-container .labels
{
    font-weight: bold;
    font-size: 20px;
}


.add-container .h1-title
{
    padding-bottom: 6px;
    border-bottom:6px dotted #BB377D;

}

.add-container button
{
    color: #BB377D;
    border:1px solid #BB377D;
    background-color: white;
}

.add-container button:hover
{
    background-color: #BB377D;
    color:white;
}
@media screen and (max-width:768px)
{

    .add-container .form-container
    {
        width:50%;
        margin:0 auto;
        top:30%;
    }
.add-container .image
{
   display: none;
}
.add-container .text
{
    width:100%;
    margin-left: 0;
}
}