.container-fluid{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    overflow: hidden;
    color:#BB377D;
    height: 100vh;
    padding:0;
  }

  .home .header-content{
    margin-top:1%;
    position: absolute;
    text-align: center;
    justify-content: center;
    display:flex;
    width: 100%;
    align-items: center;
  }
  .home .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }
  .home .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .home .header-content button{
    width: 140px;
    margin:20px 10px;
    color: #BB377D;
    font-weight: bold;
    font-size: 17px;
    border:1px solid #BB377D;
    background: white;
    border-radius:15px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }
  .home .header-content button:hover{
    border-radius: 0;
    background-color:  #BB377D;
    color:white;
  }

  
  .home-title
  {
    text-align: center;
    border: 4px dotted #BB377D;
    padding:16px 30px;
    border-width:3px;
    font-weight: bolder;
  }


  .home-text
  {
    width: 50%;
    padding:10px 20px;
  }

  .home .header-content img {
    width:50%;
  }


  a{
    cursor: pointer;
  }

  .home .carousel-caption button
  {
      background-color: #BB377D;
      border: 2px solid white;
      border-radius: 15px;
      padding: 10px 22px;
  }

  .home .carousel-caption button a.smooth-scroll
  {
    color:white;
    text-decoration: none;
    font-size: 1em;
    font-weight:500;
  }
  
  @media screen and (max-width:1000px)
  {
    .home .header-content{
      margin:16% 0;
    }

    .home-text
    {
      width: 100%;
      margin-bottom:10%;
    }


  }

  @media screen and (max-width:800px)
  {
    .home .header-content{
      margin:10% 0;
    }

    .home .header-content img {
       display: none
    };

    .carousel-item
    {
      height:100vh;
    }

    .carousel-item img
    {
      height: 45vh;
      background-size: cover;
    }

    .d-none
    {
      display: block!important;
    }

    .home .carousel-caption button
  {
      background-color: #BB377D;
      border: 2px solid white;
      border-radius: 15px;
      padding:5px 8px;
  }

  .home .carousel-caption button a.smooth-scroll
  {
    color:white;
    text-decoration: none;
    font-size: 0.8em;
  }


  }