@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  .login-container {
    box-sizing: border-box;
    /* background-color: rgb(250, 193, 193); */
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FBD3E9, #BB377D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }
  .login-container {
    font-family: 'Source Sans Pro', sans-serif;
    height:100vh;
    font-weight: 300;

    /* background: #50a3a2; */
    /* background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); */
  }
  .login-container ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }
  .login-container :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 1;
    font-weight: 300;
  }
  .login-container ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 1;
    font-weight: 300;
  }
  .login-container :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }
  .login-container .container {
    max-width:60vw;
    margin: 0 auto;
    /* padding: 80px 0; */
    display: flex;
    position: relative;
    padding: 0;
    background-color: white;
    top:50%;
    transform: translateY(-50%);
    /* text-align: center; */
  }
  .login-container .container h1 {
    font-size: 40px;
    color:#BB377D;
    font-weight:600;
    animation: fadein 3s;
    margin-bottom: 40px;
  }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



  .login-container .container .loginDesign {
    width: 49%;
    padding-left: 0;
   background:url('../../images/login.jpg') no-repeat center center;
  
   background-size: cover;
  }
  .login-container .container .loginText
  {
    width: 61%;
    padding:80px 0;
    text-align: center;
  }
  .login-container form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    margin:0 auto;
  }
  
  .login-container form input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid #BB377D;
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: 85%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #BB377D;
    transition-duration: 0.25s;
    font-weight: 300;
  }
  .login-container form input:hover {
    background-color: #BB377D;
    color:#FBD3E9;
  }

  .login-container form input:focus {

    background-color:#BB377D;
    width: 300px;
    color:#FBD3E9;

  }

  .login-container form ::placeholder
  {
    color:#BB377D;
  }
  .login-container form input:hover::placeholder
  {
    color:white;
  }

  .login-container form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: #BB377D;
    border: 0;
    padding: 10px 15px;
    color: #FBD3E9;
    border-radius: 3px;
    font-size:20px;
    width: 85%;
    cursor: pointer;
    transition-duration: 0.25s;
  }

  .login-container form button:hover {
    border: 1px solid  #BB377D;
    border-radius: 5px;
    background-color: #f5f7f9;
    color: #BB377D;
  }
  
  @-webkit-keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }

  .login-container .linkdesign
  {
    color:#BB377D;
    padding:5px 10px;
    font-weight: 700;
    font-size: 18px;
  }

.redirect
{
  font-weight: 600;
  margin-top: 15px;
}
  @media screen and (max-width:678px)
  {
    .login-container .container
    {
      max-width: 80vw;
    }
    .login-container form
    {
      width:90%;
    }
    .login-container .loginDesign
    {
      display: none;
    }
    .login-container .container .loginText
    {
      width: 100%;
      padding: 80px 20px;
    }
  }