@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }


  
  .login-container {
    box-sizing: border-box;
    /* background-color: rgb(250, 193, 193); */
    background: #FBD3E9;  /* fallback for old browsers */
    background: linear-gradient(to left, #d6f0f8, #64bbf8); 
    margin: 0;
    min-height: 100vh;
    padding: 70px 0;
    padding-top: 90px;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
   
  }

  .login-container .container {
    max-width:65vw;
    margin: 0 auto;
    display: flex;
    padding: 0;
    background-color: white;
    border-left: 1px solid white;
    border-radius: 8px 0 0 8px;
  }


  .login-container .container h1 {
    font-size: 40px;
    color:#6aa6d1;
    font-weight:600;
    animation: fadein 3s;
    margin-bottom: 40px;
  }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



  .login-container .container .loginDesign {
    width: 49%;
    padding-left: 0;
   background:url('../../images/signinIcon.jpeg') no-repeat center center;
  
   background-size: cover;
  }
  .login-container .container .loginText
  {
    width: 61%;
    padding:80px 0;
    text-align: center;
  }
  .login-container form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    margin:0 auto;
  }
  
  .login-container form input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid #6aa6d1;
    width: 85%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #6aa6d1;
    transition-duration: 0.25s;
  }


  .login-container form input:hover {
    background-color: #6aa6d1;
    color:#FBD3E9;
  }

  .login-container form input:focus {

    background-color:#6aa6d1;
    width: 300px;
    color:#FBD3E9;

  }

  .login-container form ::placeholder
  {
    color:#6aa6d1;
  }


  .login-container form input:hover::placeholder
  {
    color:white;
  }

  .login-container form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: #6aa6d1;
    border: 0;
    padding: 10px 15px;
    color: #FBD3E9;
    border-radius: 3px;
    font-size:20px;
    width: 85%;
    cursor: pointer;
    transition-duration: 0.25s;
  }

  .login-container form button:hover {
    border: 1px solid  #6aa6d1;
    border-radius: 5px;
    background-color: #f5f7f9;
    color: #6aa6d1;
  }
  
  @-webkit-keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }

  .login-container .linkdesign
  {
    color:#6aa6d1;
    padding:5px 10px;
    font-weight: 700;
    font-size: 18px;
  }

.redirect
{
  font-weight: 600;
  margin-top: 15px;
}


@media screen and (max-width:1000px) 
{
  .login-container .container
  {
    max-width:90vw;
  }
}
  @media screen and (max-width:678px)
  {
    .login-container
    {
       padding-top: 10%;
    }
    .login-container .container
    {
      max-width: 80vw;
    }
    .login-container form
    {
      width:90%;
    }
    .login-container .loginDesign
    {
      display: none;
    }
    .login-container .container .loginText
    {
      width: 100%;
      padding: 80px 20px;
    }
    .redirect 
    {
      display: flex;
      flex-direction: column;
    }
  }