.gridContainer
{
    width: 100%;
    height: max-content;
    margin-bottom: 100px;

}


.homegrid 
{
    height: max-content;
    display: flex;
}


.homegrid button{
    margin-right:5px;
    color:white;
    background-color:#6aa6d1;
}

.homegrid .links
{
    display: flex;
    margin-top: 20%;
   text-align: center;
    align-items: center;
    width: 100vw;
}


.homegrid .links h3{
    color:#6aa6d1;
    margin-right:15px;
}

.homegrid label{
 background-color:#6aa6d1;
 color: white;
 padding: 5px 10px;
}



.homegrid .links button{
    color:#6aa6d1;
    border:2px solid #6aa6d1;
    border-radius: 15px;
    padding:10px 30px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.homegrid .links button:hover
{
    background: linear-gradient(to left,#6aa6d1,#b2ebf3);
    color:white
}



.gridContainer .homegrid .filter
{
    min-width: 18%;
    height: 83vh;
    background-color: white;
    /* min-height: 83vh; */
    padding-top:4%;
    padding-left: 1%;
    box-shadow: 7px 7px 5px 0px rgba(192,186,186,0.75);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(192,186,186,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(192,186,186,0.75);
    position: fixed;
    z-index: 100;
}




.gridContainer .homegrid .filter .form-check
{
    margin-bottom: 20px;
}

.gridContainer .homegrid .filter .form-check label
{
    color:#0599d3;
    background-color: transparent;
    padding: 0;
}

.gridContainer .homegrid .filter h6
{
    margin-bottom:20%;
    font-size: 1.5em;
    color:#6aa6d1;
    font-weight: bolder;

}


.gridContainer .homegrid .card-columns
{
    width:80%;
    margin-left:18%;
    padding:20px 10px 0 20px;
}


.gridContainer .card-columns .card{
margin-bottom: 12px;background-size:cover;
background-repeat:no-repeat;
border:2px solid #6aa6d1;
border-radius:10px;
}


.card-text
{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cardText
{
    margin-top: 40px;
}

.cardText .delete
{
    width:40%;
}

.cardText label
{
    padding:5px 10px;
    float:right;
    border: 1px solid #6aa6d1;
    border-radius: 5px;
}

.card-text h5
{
    margin-bottom:15px;
}

.radiobtn
{
    width:100%;
}


.card-title
{
    margin-bottom: 25px;
}
@media screen and (max-width:1000px){


    .homegrid 
    {
        display:flex;
        flex-direction: column;
    }


    
    .gridContainer .homegrid .filter{
        height:90px;
        width: 100vw;
        font-size: 0.8rem;
        display: flex;
        /* align-items: center; */
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.44);
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.44);
    }

    .homegrid .filter .radiobtn
    {
        display: flex;
        flex-wrap: wrap;
        width:70%;
    }

   .form-check
    {
        height: fit-content;
        margin-right:1.2em;
        margin-bottom: 5px;
    }
   

    .gridContainer .homegrid .card-columns
    {
        width:100%;
        margin-left: 0;
        margin-top:13%;
        padding-left: 10px;

    }

    .gridContainer .card-columns .card{
        width:100%;
        }

        

    .filter h6
    {
        margin:0 10px;
        margin-right: 30px;

    }
    .gridContainer .homegrid .filter h6
    {
        margin-right:5%;
        font-size: 1.8em;
    
    }

    .gridContainer .homegrid .filter .form-check label
    {
        font-size: 1.4em;
    }

}



@media screen and (max-width:768px)
{
    .gridContainer .homegrid .filter{
        height:90px;
    
    }

    .gridContainer .homegrid .card-columns
    {
        margin-top:18%; 

    }

    .gridContainer .homegrid .filter h6
    {
        margin-right:2%;
        font-size: 1.5em;
    
    }

    .gridContainer .card-columns .card{
        width:100%;
        }

        

    .gridContainer .homegrid .filter .form-check label
    {
        font-size: 1.1em;
    }

}

@media screen and (max-width:575px) {
    .homegrid .links
    {
        display: flex;
        flex-direction: column;
    }

    .homegrid .links h3
    {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .gridContainer .card-columns .card{
        width:100%;
        }

        
}

@media screen and (max-width:411px)
{
    .gridContainer .homegrid .filter{
        height:fit-content;
    }


    .gridContainer .homegrid .card-columns
    {
        margin-top:35%;

    }
    .gridContainer .card-columns .card{
        width:100%;
        }

        
}
@media screen and (max-width:320px) {


    .gridContainer .homegrid .card-columns
    {
        margin-top:60%;

    }
    .gridContainer .card-columns .card{
        width:100%;
        }

        
}

@media screen and (max-width:250px) {


    .gridContainer .homegrid .card-columns
    {
        margin-top:80%;

    }
    .gridContainer .card-columns .card{
        width:100%;
        }

        
}