div.footer
{
    color:white;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(8, 5, 0);
    font-size: 15px;
    letter-spacing: 2px;
    /* position: relative; */
}
