.contactDiv
{
    display: flex;
    max-height: 80vh;
    color:#BB377D;
    top:50%;
    left: 40%;
    position:absolute;
    transform: translate(-40%,-50%);
    align-items: center;
}


.contactDiv img{
    height:450px;
    width:450px;
}


.contactDiv .h3-title
{
    padding-bottom: 6px;
    border-bottom:6px dotted #BB377D;

}

.contactDiv .content
{
    height:100%;
    width:50%;
    text-align: center;
}
.contactDiv .content-para
{
    margin-top:13%;
    font-size: 21.5px;
}
.contactDiv i{
    color:black
}

.contactDiv ul{
    display: flex;
    justify-content: space-evenly;
}
.contactDiv ul li{
    list-style: none;
    cursor: pointer;
}

.mail
{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
    font-size: 25px;
}

.mail:hover,.contactDiv li:hover
{
    color:rgb(51, 82, 255)
}
@media screen and (max-width:768px)
{
    .contactDiv .content
    {
        width: 100%;
    }

    .contactDiv img
    {
        display: none;
    }
}